.slick-arrow {
  z-index: 1000;
}

.slick-prev {
  width: 0;
  height: 0;
  border-top: 15px solid transparent !important;
  border-bottom: 15px solid transparent !important;
  border-right: 15px solid rgba(196, 196, 196, 0.8) !important;
  left: 12px !important;
}

.slick-next {
  width: 0;
  height: 0;
  border-top: 15px solid transparent !important;
  border-bottom: 15px solid transparent !important;
  border-left: 15px solid rgba(196, 196, 196, 0.8) !important;
  right: 12px !important;
}
