.map-side-bar {
  background-color: white;
  bottom: 0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100vh;
  padding-top: 140px;
  position: absolute;
  width: 30vw;
  z-index: 100;

  .form-wrapper {
    padding: 0px 25px;
    margin-top: 48px;
    font-family: 'Raleway', sans-serif;

    .horizontal-items {
      display: flex;
      justify-content: space-between;

      .half-input {
        width: 47.5%;
      }
    }

    .radius-wrapper {
      display: flex;
      justify-content: space-between;
      width: 50%;

      .quarter-input {
        width: 47.5%;
      }
    }

    .button {
      width: 63%;
      height: 42px;
      margin-top: 20px;
      background-color: #E9FCE6;
      border: 1.32px solid rgb(212, 241, 207);
      border-radius: 5px;

      &:hover {
        color: #369336;
      }
    }

    .button-2 {
      margin-top: 20px;
      width: 33%;
      height: 42px;
      background-color: rgb(247, 192, 198);
      border: 1.32px solid rgb(252, 155, 152);
      border-radius: 5px;

      &:hover {
        color: #E76070;
      }
    }

    .built {
      position: absolute;
      bottom: 0%;
      right: 3%;
    }

    label {
      font-size: 1.4rem;
    }

    .ant-form-item {
      margin-bottom: 22px;
    }

    .ant-input {
      height: 35px;
    }

    .ant-input-number {
      height: 35px;
      width: 100% !important;
    }
  }

  h1 {
    font-size: 2rem;
    margin-left: 5%;
  }
}
